.git
.gitignore
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.env
Dockerfile
Dockerfile.*
docker-compose.yml
.idea
.vscode
typings/
*.pt
*.pth
weights/
README.md
pyrightconfig.json
pyproject.toml
compiler_generated/
