__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env
.DS_Store
.bevel
.vscode/settings.json
*.db
*.sqlite3
*.pt
*.mp4
*.mjpg
*.mov
*.mkv
*.avi
*.webm
*.wmv
*.m4v
*.zip
*.7z
*.rar
best.pt
*.xml
*.pth
/env/
.idea
*.engine
*.onnx
garbage
*shared
*shared_db
constants/__init__.py
services/inferenced_weights/all-MiniLM-L6-v2
services/inferenced_weights/models
.venv/
.ai/
launch.json
.vscode/launch.json
*.png
*.jpg
*.jpeg
*.torchscript
compiler_generated
